main .main-body .main-center {
    width: 100%;
}

main .main-body .main-center .channel-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

main .main-body .main-center .channel-box .channel-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}


main .main-body .main-center .channel-box .channel-header .channel-header-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 7vh;
    min-height: 65px;
    font-size: 0.8rem;
    padding: 8px;
}

main .main-body .main-center .channel-box .channel-header .channel-header-box .header-element {
    margin-left: 20px;
    border: 1px red solid;
    padding: 5px 15px;
    border-radius: 12%/50%;
    background-color: white;
    color: red;
}


main .main-body .main-center .channel-box .channel-body {
    height:80vh;
    overflow-y: auto;
}

/* CHANNELLIST */
#channellist {
    background-color: white;
}

#channellist .box-body {
    width: 100%;
    padding: 20px;
}

#channellisttable {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;

}

th {
    text-align: left;
    padding:10px;
    cursor: pointer;
}

tr {
    border-radius: 30%;
}

tr:nth-child(even) {
    background-color: #f2f2f2
  }

th:nth-last-child(1), td:nth-last-child(1),
th:nth-last-child(2), td:nth-last-child(2) {
    text-align: center;
}

td {
    padding:10px;

}

td a:hover {
    color: red;
}



main .main-body .main-center .channel-box .channel-body .channel-pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    font-size: 0.8rem;
    color:black;
}

.flex-da {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-da a::after {
    content: ", ";
    margin-right: 8px;
}

.flex-da a:nth-last-child(1)::after {
    content: "";
}

